// FONTS

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$main-fonts:'Lato', sans-serif;


// //COLORS

$color01: #FFFFFF;

$color02: #FFC83D;

$color03: #505050;

$color04:#CFCFCF;

$color05: #00CBCF;

$color06: #1B1B1B;

$color08: #7A7A7A;

$color09:  #FFB700;

$color10:  #E8AC15;

$color11:  #1DA4FB;

// $color12:  #E48282;


// RESPONSE

$mobile-min: 320px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-max: 1023px;

$desktop-max: 1024px;
$desktop-max: 1920px;
